# ======================
# Python Backend
# ======================

# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# FastAPI / logs
*.log


# ======================
# ResearchHelp Data
# ======================

# Uploaded research papers
backend/papers/

# Chroma vector database
backend/chroma_db/

# Generated summaries/cache
backend/paper_summary.json


# ======================
# Jupyter / notebooks
# ======================

.ipynb_checkpoints/


# ======================
# Frontend
# ======================

frontend/node_modules/

frontend/dist/

# Vite cache
frontend/.vite/


# ======================
# OS files
# ======================

.DS_Store
Thumbs.db


# ======================
# IDE
# ======================

.vscode/
.idea/